.hero-image {
    background-image: url(../images/background.jpg);
    height: 100vh;
    background-size: cover;
}

.hero-color-overlay {
    height: 100%;
    background: rgba(0,0,255,0.6);
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #FFF;
}

.nav-brand {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
}

.nav-brand:hover {
    color: #FFF;
    text-decoration: none;
}