.hero-image {
    background-image: url(../images/background.jpg);
    height: 100vh;
    background-size: cover;
}

.hero-color-overlay {
    height: 100%;
    background: rgba(0,0,255,0.6);
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #FFF;
}

.nav {
    padding-top: 3rem !important
}

.nav-brand {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
}

.nav-brand:hover {
    color: #FFF;
    text-decoration: none;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 70%; /* here I can try to use sass to calculate the size of the nav and then math my wrapper size */
}

.hero-text {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    color: #FFF;
}