version: '3'

services:
  db:
    image: mysql:8.0.19
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      
  wordpress:
    depends_on:
      - db
    image: wordpress:php7.4
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_DATABASE: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_TABLE_PREFIX: wp
      WORDPRESS_DEBUG: 1
    working_dir: /var/www/html # idk why exactly, but when working_dir combined with volumes, it creates the wp folder in the root project folder in the computer
    volumes:
      - ./wp-content:/var/www/html/wp-content
