.section-header {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.section-spacing {
    margin-top: 128px;
}

.hero {
    background-image: url(../images/background.jpg);
    height: 100vh;
    background-size: cover;
}

.hero-color-overlay {
    height: 100%;
    background: rgba(0,0,255,0.6);
}

.hero-text {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    color: #FFF;
}

.hero-text-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.hero-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-button {
    font-size: 24px;
    color:#FFF;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    border-radius: 50px;
    background: transparent;
    padding: 20px;
    width: 250px;
    margin: auto;
    margin-top: 90px;
}

.nav {
    padding-top: 3rem !important
}

.nav-brand-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav-brand {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
}

.nav-brand:hover {
    color: #FFF;
    text-decoration: none;
}

/* 
* @TODO
* quando o botao vira um X ele ta ficando preto
*/
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #FFF;
}

.about {
    font-size: 20px;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-image {
    max-width: 200px;
    border-radius: 50%;
}

.chart-icon-wrapper {
    width: 50px;
    padding: 9px;
    display: inline-block;
}

.chart-icons, .footer-icon {
    font-size: 32px;
}

.chart-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    text-transform: uppercase;
    background: rgba(255,0,0,0.6);
    padding-top: 128px;
    padding-bottom: 128px;
}

.footer-icon-wrapper {
    width: 50px;
    height: 50px;
    background:rgba(0,0,0,0.4);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
}

.footer-icon {
    width: 50px;
    padding: 9px;
}

@media only screen and (max-width: 376px) {
    .section-header {
        margin-top: 42px;
        margin-bottom: 42px;
        font-size: 36px;
    }

    .nav-brand {
        font-size: 20px;
    }

    .hero-text {
        width: 300px;
        font-size: 24px;
    }

    .hero-button {
        margin-top: 120px;
        font-size: 18px;
        border-width: 1px;
        width: 200px;
    }

    .about {
        font-size: 18px;
    }
}

@media only screen and (max-width: 321px) {
    .section-header {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 36px;
    }

    .section-spacing {
        margin-top: 32px;
    }
    
    .hero-text {
        font-size: 20px;
        width: 240px;
    }

    .hero-button {
        font-size: 16px;
        margin-top: 50px;
        width: 170px;
        border-width: 1px;
    }

    .about {
        font-size: 16px;
    }

    .about-image-wrapper {
        margin-top: 32px;
    }

    .chart-text, #canvas-hoder {
        margin-top: 32px;
    }

    .chart-icon-wrapper {
        width: 30px;
    }

    .chart-icons, .footer-icon {
        font-size: 24px;
    }

    .footer {
        padding-top: 64px;
        padding-bottom: 64px;
    }    
}